# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IDEs
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/

# IntelliJ specific
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

# Eclipse specific
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans specific
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS
.DS_Store

# Certificates and keys
*.jks
*.pem
*.p12
*.crt
*.key
*.csr
*.srl

# Stores directory
stores/
!stores/
!stores/client-truststore.jks
# ignore other sensitive keystore or pass files
stores/*.jks
stores/keystorePass.txt

